<% if @current_user %>
	<% if @current_user.try(:admin?) %>
		<b>Administrator <%= "'#{@current_user.name}'" %></b>
	<% else %>
		<b><%= "'#{@current_user.name}'" %></b>
	<% end %>
	<%= form_tag users_path, method: :delete do %>
		<%= submit_tag('Logout') %>
	<% end %>
<% else %>
	<b>Anonymous</b>
	<%= link_to 'Login', users_login_path %>
	<%= link_to 'Sign up', new_user_path %>
<% end %>
