<% if @current_user %>
	<% if @current_user.role == 'admin' %>
	<h1>Bienvenue administrateur <%= @current_user.name %></h1>
	<% else %>
	<h1>Bienvenue <%= @current_user.name %></h1>
	<% end %>
<%= form_tag users_path, method: :delete do %>
	<%= submit_tag('Se déconnecter') %>
	<% end %>
<% else %>
	<h1>Bienvenue visiteur anonyme :)</h1>
	<%= link_to "S'identifier", users_login_path %>
<% end %>
