<h1>Login</h1>

<%= form_tag "/users/login", method: :post do %>
	<%= label_tag(:name, 'Name') %>
	<%= text_field_tag (:name), nil, autofocus: true, required: true %>
	<%= label_tag(:password, 'Password') %>
	<%= password_field_tag (:password), nil, required: true %>
	<%= submit_tag('Login') %>
<% end %>

<%= link_to 'Back', request.referrer || root_path %>
