<%= form_with(model: advertisement, local: true) do |form| %>
  <% if advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

      <ul>
      <% advertisement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :advertisement_title, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :advertisement_content, size: "90x10" %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :advertisement_price %>
  </div>

  <div class="actions">
	  <%= form.submit %>
  </div>

<!-- HIDDEN -->
  <div class="field">
	  <%= form.hidden_field :state, id: :advertisement_state %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, id: :advertisement_user_id %>
  </div>
<% end %>
