<%= render 'users/login_form' %>

<h1>Editing Advertisement</h1>

<%= render 'form', advertisement: @advertisement %>

<%= link_to 'Show', @advertisement %> |
<%= link_to 'Back', advertisements_path %>
