<%= render 'users/login_form' %>

<br><br>
<h1>Advertisements</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>State</th>
      <th>Price</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><%= advertisement.title %></td>
        <td><%= advertisement.content %></td>
        <td><%= advertisement.state %></td>
        <td><%= advertisement.price %></td>
        <td><%= advertisement.user.name %></td>
        <td><%= link_to 'Show', advertisement %></td>
		  <% if @current_user.try(:id) == advertisement.user_id %>
		    <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
		  <% elsif @current_user.try(:admin?) %>
          <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
          <td><%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			 <% unless advertisement.state == 'published' %>
			   <td><%= link_to 'Publish', advertisement, method: :patch %></td>
			 <% end %>
		  <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @current_user %>
<%= link_to 'New Advertisement', new_advertisement_path %>
<% end %>
