<%= render 'users/login_form' %>

<p>
  <strong>Title:</strong>
  <%= @advertisement.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @advertisement.content %>
</p>

<p>
  <strong>State:</strong>
  <%= @advertisement.state %>
</p>

<p>
  <strong>Price:</strong>
  <%= @advertisement.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @advertisement.user.name %>
</p>

<% if @current_user.try(:admin?) && @advertisement.state != 'published' %>
	<td><%= link_to 'Publish', @advertisement, method: :patch %></td> |
<% end %>
<% if @current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<% end %>
<% if @current_user.try(:id) == @advertisement.user_id %>
  <%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<% end %>

<%= link_to 'Back', advertisements_path %>

<hr>
<% if @current_user %>
	<h2>Leave a comment</h2>

	<%= form_tag "/advertisements/#{@advertisement.id}", method: :post do %>
		<%= text_area_tag(:content, "Hi !", id: :advertisement_content, size: "90x10") %>
		</br>
		<%= submit_tag('Comment') %>
		</br>
		<%= hidden_field :user_id, id: :comment_user_id %>
		<input type="hidden" name="advertisement_id" value="<%= @advertisement.id %>">
	<% end %>
<% end %>

<% if !@comments.length.zero? %>
	</br>
	<!-- </br> -->
	<h3>Comments</h3>
	<% @comments.each do |comment| %>
	<!-- alors là c'est bâtard... à partir de la liste des commentaires avec leur auteur-e respectif-ve, je sélectionne ceux dont l'id est identique à celui du commentaire en cours, et je ne garde que le nom -->
	<b><%# @comments_authors.select { |e| e.id == comment.id }.map(&:name)[0] %></b>
	<b><%= comment.user.name %></b>
	<p><%= comment.content %></p>
<% end %>
<% else %>
	<p>No comment</p>
<% end %>
