@keyframes fadeIn {
   from {
      opacity: 0
   }
   to {
      opacity: 1
   }
}

@keyframes scaleIn {
   from {
      transform: scale(1.2)
   }
   to {
      transform: scale(1)
   }
}

@font-face {
   font-family: 'brushregular';
   src: url('polices/alexbrush-regular-webfont.woff2') format('woff2'), url('polices/alexbrush-regular-webfont.woff') format('woff');
}

@media screen and (max-width: 1024px) {
   #lisere {
      display: none;
   }
   section {
      display: flex;
      flex-direction: column;
   }
}

body {
   background: url(images/fond.jpeg) no-repeat;
   display: flex;
   flex-direction: column;
   font-family: Ubuntu, "Trebuchet MS", sans-serif;
   font-size: 11pt;
   -webkit-animation: bounce-top 900ms linear both;
   animation: bounce-top 900ms linear both;
}

.slide-out-left {
   -webkit-animation: slide-out-left .5s cubic-bezier(.55, .085, .68, .53) both;
   animation: slide-out-left .5s cubic-bezier(.55, .085, .68, .53) both
}

#bloc_page {
   text-align: center;
   margin-left: 140px;
}

section {
   position: relative;
   display: flex;
}

article {
   min-width: 200px;
   padding-right: 30px;
   text-align: justify;
}

#lisere {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   float: left;
   width: 50px;
   height: 500px;
   background-color: rgba(134, 208, 235, 0.3);
   box-shadow: 0px 2px 5px #1c1a19;
   border-radius: 5px;
}

h1 {
   color: purple;
   text-align: center;
   font-family: brushregular, "Comic Sans MS", fantasy, sans-serif;
}

h1+p {
   text-align: center;
}

img {
   float: right;
   border: 2px rgb(191, 225, 139) outset;
   box-shadow: 3px 3px 6px black;
   margin-right: 10px;
}

h2 {
   color: gray;
}

h2 em {
   font-size: .6em;
   text-transform: none;
   text-decoration-style: none;
}

b {
   font-family: monospace;
   font-size: .9em;
}

i {
   font-family: serif;
   font-size: .9em;
}

em {
   text-decoration: underline;
   font-style: normal;
   text-transform: uppercase;
}

hr {
   border-bottom: 1px solid black;
   text-align: center;
   margin: 3em 0;
   border: 0;
}

footer {
   text-align: center;
}

.note {
   clear: both;
   font-size: .7em;
   text-align: right;
   margin-right: 10px;
}

a {
   border-bottom: 1px blue dotted;
   color: inherit;
   text-decoration: none;
}

a[class=lienIdentite] {
   border: none;
   color: inherit;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
   color: blue;
   border: none;
}

#test {
   opacity: 0;
   position: relative;
   animation: fadeIn 0.6s forwards 0.7s, scaleIn 0.6s forwards 0.7s
}
