<!-- pour que le titre de la page = le titre de l'article -->
<!-- NB: sans oublier de modifier views/layouts/application.html.erb -->
<%= content_for :title, @post.title %>

<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<h2>Laisser un commentaire</h2>

<%= form_tag "/posts/#{@post.id}", method: "post" do %>
	<input type="text" name="author" placeholder="Pseudo"></br>
	<textarea cols="50" rows="10" name="content" placeholder="Commentaire"></textarea>
	<input type="hidden" name="post_id" value="<%= @post.id %>">
	</br>
	<input type="submit" value="Commenter"></br>
	</br>
<% end %>

<%= link_to "Retour à l'accueil", root_path %>


<% if !@comments.length.zero? %>
	<br>
	<br>
	<h3>Les commentaires</h3>
	<% @comments.each do |comment| %>
		<b><%= comment.author %></b>
		<p><%= comment.content %></p>
	<% end %>
<% else %>
	<p>Aucun commentaire</p>
<% end %>
