body {
	margin: 0;
}

#gauche {
	float: left;
	width: 70%;
	height: 1000px;
	background-color: #EFECCA;
}

#droite {
	background-color: #CEFFF8;
	height: 1000px;
	padding : 10px;
	padding-left: 71%;
}


/*quelques marges pour aérer tout ça :*/
span, button, input {
	margin: .2em;
}

#gauche span, #gauche button, #gauche input {
	margin: .9em;
}

/*ombrage sous les boutons actifs*/
button:enabled:hover {
	box-shadow: 2px 2px 3px #aaa;
}

/*un peu de style pour les messages d'aide*/
#divAide {
	color: magenta;
}

#droite span{
	font-size: small;
	color: grey;
}
